
/* Local variables */
$navigation-item-background: $green-emerald;
$navigation-item-background-active: rgba($green-emerald, 0.5);


/**
 * Navigation for switching between watch views.
 */
.view-navigation {
    position: absolute;
    right: 50px;
    top: 50px;
	padding: 1em;
	width: 200px;
	text-align: center;
}



/** 
 * The actual clickable link.
 */
.view-navigation__link {
	width: 1em;
	height: 1em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	background-color: $navigation-item-background;
	border-radius: 100%;

	&.is-active {
		background-color: $navigation-item-background-active;
	}
}