
/**
 * Wrapper that display the watch image.
 */
.watch {
	position: relative;
	width: 531px;
	height: 1061px;
	margin: 4em auto;
	background-image: url('../img/watch-background.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}



/**
 * Container for displaying different views inside the watch.
 */
.watch__content {
	position: relative;
	top: 323px;
	left: 41px;
	width: 449px;
	height: 441px;
    overflow: hidden;
	border-radius: 6px;
}



.watch__scrollable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}