body {
  margin: 0;
  padding: 0;
  background: #ffffff; }

#streetview {
  display: block;
  width: 100%;
  height: 100%; }

.notification {
  width: 384px;
  height: 240px; }

#weather {
  background: url("../img/card_weather.png") transparent no-repeat 0 0; }

#reward {
  background: url("../img/card_reward.png") transparent no-repeat 0 0; }

#friends {
  background: url("../img/card_ghost.png") transparent no-repeat 0 0; }

#calories {
  background: url("../img/card_calories.png") transparent no-repeat 0 0; }

#heart {
  background: url("../img/card_heartrate.png") transparent no-repeat 0 0; }

#air {
  background: url("../img/card_air_quality.png") transparent no-repeat 0 0; }

.weather-icon {
  display: block;
  width: 70px;
  height: 75px;
  overflow: hidden;
  background-image: url("../img/weather.png");
  background-repeat: no-repeat;
  background-position: 0 0; }
  .weather-icon.sun {
    background-position: -70px 0; }

.glass {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }
