@import './../vars/colors';


/* Local variables */
$event-list-item-background: $white;
$event-list-item-title: $green-jewel;
$event-list-item-text: rgba($green-jewel, 0.75);
$event-list-active-border: $green-jewel;


.c-event-list__item {
    position: relative;
	margin-bottom: 1em;
	padding: 1em;
	color: $event-list-item-text;
	background-color: $event-list-item-background;
	font-weight: 700;

	&.is-active {
		border-width: 0 0 0 10px;
		border-color: $event-list-active-border;
		border-style: solid;
	}
}



.c-event-list__item__link {
	&:link,
	&:visited {
		color: $event-list-item-title;
	}
}



.c-event-list__item__title {
	margin-bottom: 0.5em;
}



.c-event-list__item__rating {
	display: none;
	width: 100px;

	.is-active & {
		display: block;
	}
}

.c-event-list__item__proceed {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    width: auto;
    height: 100%;
    cursor: pointer;

    .is-active & {
        display: block;
    }
}