@import './../vars/colors';

/* Local variables */
$screen-background: $grey-silver-chalice;


/**
 * Basic styling for each watch screen.
 */
.s-screen {
	position: relative;
    width: 100%;
    min-height: 100%;
	padding: 1em;
    background-color: $screen-background;
	border-radius: 6px;
}