@import './../vars/colors';

/* Local variables */
$screen-background: $grey-alto;


/**
 * Basic styling for each watch screen.
 */
.s-screen {
	position: relative;
    width: 100%;
    min-height: 100%;
	padding: 1em;
	border-radius: 6px;
    background-color: $screen-background;
	background-image: url('../img/screen-background.png');
	background-repeat: no-repeat;
	background-size: cover;
}