@import './../vars/colors';


.s-map {
    width: 100%;
    height: 100%;

    #panel {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -120px;
        z-index: 5;
        background-color: #fff;
        padding: 10px 20px;

        a {
            margin: 0 15px;
            text-decoration: none;
        }
    }

    #map-canvas {
        width: 100%;
        height: 100%;
    }
}